* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 20px;
  padding-bottom: 4.9%;
 background-color: #E4E4E1;
 background-image: radial-gradient(at top center, rgba(255,255,255,0.03) 0%, rgba(0,0,0,0.03) 100%), linear-gradient(to top, rgba(255,255,255,0.1) 0%, rgba(143,152,157,0.60) 100%);
 	background-blend-mode: normal, multiply;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  text-align: center;
  background: white;
}
 
  
.topnav {
  overflow: hidden;
  background-color: #333;
}
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: blueviolet;
    color: white;
  }
