*{
    margin: 0px;
    padding: 0px;
    text-align: center;
    background-color: lightgray;
}
.contact-titel{
    margin-top: 100px;
    color: #fff;
    text-transform: uppercase;
    transition: all 4s ease-in-out;
}
.contact-titel h1{
    font-size: 42px;
    line-height: 30px;

}
.contact-titel h2{
    font-size: 26px;
}

form{
    margin-top: 50px;
    transition: all 4s ease-in-out;
}
.form-control{
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    color: white;
    margin-bottom: 16px;
}
input{
    height: 45px;
}
form .submit{
    background-color: #ff5722;
    border-color: transparent;
    color: white;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}

form .submit:hover{
    background-color: #f44336;
    cursor: pointer;
}